PORT=7000
MONGODB_URI=mongodb+srv://shridharganiger62_db_user:your-password@cluster0.1ndx2ia.mongodb.net/
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=Hii-This-Is-Access-Secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=Hii-This-Is-Refresh-Secret
REFRESH_TOKEN_EXPIRY=10d